<span id="demoFooter">
  code: <a href="https://thmsdnnr.github.io">thmsdnnr</a><br />
  repo: <a href="https://github.com/thmsdnnr/coterie">github</a><br />
  data: <a href="https://developers.google.com/books/">google books api</a>
</span>
