<nav>
  <p><span id="navElement"><a href="/"><img src="/assets/images/coterieB.png"></a></span></p>
  <%if (data.user) {%>
  <p><span id="navElement"><a href="/search">ADD BOOKS</a></span>
  <span id="navElement"><a href="/updateProfile">UPDATE PROFILE</a></span>
  <span id="navElement"><a href="/u/<%=data.user%>">MY SHELF</a></span>
  <span id="navElement"><a href="/everyone">EVERYONE'S BOOKS</a></span>
  <span id="navElement"><a href="/trades">TRADES</a></span>
  <span id="navElement"><a href="/logout">LOG OUT</a></span></p>
  <%}%>
</nav>
