<html>
<head>
  <title>ADD CUSTOM BOOK</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script>window.INITIAL_STATE = <%-JSON.stringify(data)%>;</script>
</head>
<body>
  <% include ../static/assets/includes/header.ejs %>
  <div id="container">
      <h1>ADD YOUR OWN BOOK</h1>
<form action="/addBook" method="post" id="customBook">
  <input type="text" placeholder="Book Title" name="title" autofocus required /><br />
  <input type="text" placeholder="Author" name="author" required /><br />
  <input type="text" placeholder="Brief Description" name="description" optional /><br />
  <input type="submit"><button id="submit">SUBMIT</button></input>
</form>
<% include ../static/assets/includes/demoFooter.ejs %>
</body>
</html>
