<html>
<head>
  <title>LIST OF TRADES</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script>window.INITIAL_STATE = <%-JSON.stringify(data)%>;</script>
  <script type="text/javascript" src="/assets/js/listTrades.js"></script>
</head>
<body>
  <% include ../static/assets/includes/header.ejs %>
  <div id="container">
    <div id="msg"></div>
  <form method="POST" action="/saveBook">
    <div id="container">
      <h1>LIST OF TRADES</h1>
      <table id="tradeRequests">
        <thead>
          <tr>
            <td>This Person</td>
            <td>Wants to trade this</td>
            <td>For this</td>
            <td>What do you say?</td>
          </tr>
        </thead>
        <tbody>
      </tbody>
      </table>
    <table id="myTrades">
      <thead>
        <tr>
          <td>You asked</td>
          <td>To trade this</td>
          <td>For this</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
    </tbody>
    </table>
  </form>
  <div id="more"></div>
</div>
</div>
<% include ../static/assets/includes/demoFooter.ejs %>
</body>
</html>
