<html>
<head>
  <title>COTERIE</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <% include ../static/assets/includes/header.ejs %>
  <div id="container">
      <p><h1><%=data.header%></h1>
      <span id="message"><%=data.message%><%if (data.link){%>You can now <a href="<%=data.link%>">login</a>.
      <%}%></span>
    </p>
  </div>
  <% include ../static/assets/includes/demoFooter.ejs %>
</body>
</html>
