<html>
<head>
  <title>UPDATE YOUR PROFILE</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script>window.INITIAL_STATE = <%-JSON.stringify(data)%>;</script>
  <script type="text/javascript" src="/assets/js/updateProfile.js"></script>
</head>
<body>
  <% include ../static/assets/includes/header.ejs %>
  <div id="container">
      <h1>UPDATE YOUR PROFILE</h1>
      <div id="current"></div><br />
<form action="/updateProfile" method="post" id="uP">
  <input type="text" placeholder="Full Name" name="fullName" autofocus optional /><br />
  <input type="text" placeholder="City" name="city" optional /><br />
  <input type="text" placeholder="State" name="state" optional /><br />
  <input type="submit"><button id="updateProfile">UPDATE PROFILE</button></input>
</form>
<% include ../static/assets/includes/demoFooter.ejs %>
</body>
</html>
