html {
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

form {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1em;
  letter-spacing: 0.1em;
}

input {
  padding: 5px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  outline:none;
}

input:focus {
  border: 2px solid silver;
}

input[type=submit] {
  display:none;
}

button#submit {
  width: auto;
  height: auto;
  padding: 10px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 0.3em;
  border: 1px solid gold;
  outline: none;
}

button#updateProfile{
  width: 324px;
  height: auto;
  margin: 2px;
  padding: 10px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 0.3em;
  background-color: #F5F5F5;
  outline: none;
  border: none;
}

body {
  background-color: #F5F5F5;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: 100;
  color: rgba(240,235,200,1.0);
}

nav {
  font-family: 'Helvetica Neue', sans-serif;
  border-radius: 1%;
  font-weight: 0.8em;
  letter-spacing: 0.1em;
  font-weight: 200;
  justify-content: center;
  max-width: 870px;
  width: auto;
  height: auto;
  margin: 10px auto 10px auto;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(12,122,142,0.2);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

span#navElement {
  flex: 0 1 auto;
  padding: 4px;
  justify-content: center;
}

span#navElement a {
  display:inline-block;
  color: tomato;
}

span#navElement a:hover {
  font-weight:200;
  color: green;
}

span#userHead{
  background-color: rgba(222,91,73,0.7);
  font-size: 2em;
  font-family: 'Courier New';
}

p {
  padding: 14px;
  margin: 7px;
}

span#demoFooter {
  display: inline;
  text-align: left;
  width: auto;
  margin: auto;
  font-size: 0.8em;
  font-family: 'Courier New', monospace;
  letter-spacing: 0.1em;
  color: black;
  position: fixed;
  left: 2;
  bottom: 2;
  text-align: left;
  color: rgba(0,0,0,0.3);
}

div#description {
  font-size: 0.8em;
  width: 400px;
  border: 1px solid silver;
}

span#demoFooter a {
  color: green;
  background-color: rgba(0,0,0,0);
}

.grid-item {
  width: 300px;
  height: auto;
}

div.grid {
  width: 1000px;
  margin: auto;
  justify-content: space-between;
}

table#bookResults {
  width: 700px;
  margin: auto;
}

div#container {
  display: block;
  position: relative;
  width: auto;
  max-width: 900px;
  height: auto;
  margin: auto;
  padding: 15px;
  background-color: rgba(50,77,92,1.0);
  text-align: center;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  justify-content: center;
}

div#parentContainer {
  position: relative;
  width: auto;
  max-width: 900px;
  height: auto;
  margin: auto;
  padding: 15px;
  background-color: rgba(50,77,92,1.0);
  text-align: center;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

div#child {
  border: 2px inset gold;
  border-radius: 1%;
  flex: 0 1 auto;
  padding: 10px;
  margin: 5px;
}

div.row {
  display: flex;
  flex-flow: row wrap;
  width: 700px;
  margin: auto;
  justify-content: space-between;
}

div#description {
  max-height: 200px;
  overflow-y: scroll;
  width: auto;
}

table#tradeRequests {
  display: none;
  margin: auto;
  width: 700px;
}

button.tradeDecision {
  height: 40px;
  width: 40px;
  border: 3px outset gold;
  background-color: silver;
  outline: none;
}

button.cancelTrade {
  height: 40px;
  width: 70px;
  border: 3px outset gold;
  background-color: silver;
  outline: none;
}

thead {
  font-size: 1.5em;
  font-family: 'Courier New', monospace;
  font-style: italic;
  color: #FFF;
}

img.bookThumb {
  max-width:80px;
  height:auto;
  display:inline;
  border-radius:10%;
  border: 2px solid black;
  float: left;
}

table#myTrades {
  display:none;
  margin: auto;
  width: 700px;
}

thead {
  text-align: center;
}

div#more {
  float:right;
}

a {
  font-size: 1em;
  color: silver;
}

a:visited {
  font-size: 1em;
  color: silver;
}

a:hover {
  color:white;
}

h2 {
  font-size: 1em;
  letter-spacing: 0.1em;
  color: white;
}

td {
  vertical-align: middle;
  padding: 10px;
  width: auto;
  text-align: left;
  text-align: center;
}

table tr {
  border: 1px solid black;
}
